<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} [%file:%line] - %msg%n"/>
    <property name="pattern-color" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %green(%logger{50}) - %highlight(%msg) %n"/>

    <appender name="request" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/request.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${user.dir}/logs/history/science_request_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

<!--    <appender name="console" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${user.dir}/logs/console.log</file>-->
<!--        <append>true</append>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>${user.dir}/logs/history/console_%d{yyyy-MM-dd}.log.gz</fileNamePattern>-->
<!--            <maxHistory>7</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>${FILE_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!-- 控制台输出 -->
    <appender name="CONSOLE_STD" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern-color}</pattern>
        </encoder>
    </appender>

<!--    <logger name="com.self.study" level="info" additivity="false">-->
<!--        <appender-ref ref="console"/>-->
<!--    </logger>-->

    <logger name="com.self.study" level="debug" additivity="false">
        <appender-ref ref="request"/>
    </logger>

<!--    <logger name="com.dtstack.science.schedule" level="debug" additivity="false">-->
<!--        <appender-ref ref="schedule"/>-->
<!--    </logger>-->

<!--    <logger name="com.dtstack.science" level="debug" additivity="false">-->
<!--        <appender-ref ref="common"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE_STD"/>
    </root>

</configuration>